<form action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
    <label class="label">Username or Email</label>
    {{ form.username_or_email }}
    {% if form.errors.username_or_email %}
    <ul class="errorlist">
        {% for error in form.errors.username_or_email %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <label class="label">Password</label>
    {{ form.password }}
    {% if form.errors.password %}
    <ul class="errorlist">
        {% for error in form.errors.password %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <button class="button is-danger" type="submit">Login</button>
</form>
