<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% extends "pokedexapp/base.html" %}
</head>
{% block content %}
<div class="column is-4">
    <form action="{% url 'users:login' %}" method="POST" class="box">
        {% csrf_token %}
        <div class="field">
            <label class="label">Username or Email</label>
            <div class="control">
                {{ log_form.username_or_email }}
            </div>
            {% if log_form.errors.username_or_email %}
            <p class="help is-danger">
                {% for error in log_form.errors.username_or_email %}
                {{ error }}
                {% endfor %}
            </p>
            {% endif %}
        </div>
        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                {{ log_form.password }}
            </div>
            {% if log_form.errors.password %}
            <p class="help is-danger">
                {% for error in log_form.errors.password %}
                {{ error }}
                {% endfor %}
            </p>
            {% endif %}
        </div>
        {% if error_messages %}
        <div class="field">
            <p class="help is-danger">
                {% for error in error_messages %}
                {{ error }}
                {% endfor %}
            </p>
        </div>
        {% endif %}
        <div class="field">
            <div class="control">
                <button type="submit" class="button is-danger">Login</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}
</html>
