<!DOCTYPE Html>
<html>

{% extends 'pokedexapp/base.html' %}

{% block content %}

<div class="columns is-multiline has-background-grey">

    <div class="column is-4">
        <div class="card">
            <a>
                <!-- Pokémon Details -->
                <p class="poke_title"></p>
                <!-- Pokémon Types -->
                <div class="card-footer">
                    <div class="tags">


                        {% endfor %}
                    </div>
                </div>
                <div class="card-image">

                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}