<!DOCTYPE html>
<html>
<head>
    <!-- Other meta tags, title, etc. -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Load your CSS and fontawesome links here -->
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/8ce67e1d09.js"></script>
    {% load static %}
    <link href="{% static 'css/my_styles.css' %}" rel="stylesheet">
</head>
<body class="has-navbar-fixed-top">
<nav class="navbar is-fixed-top">
    <div class="navbar-item is-danger">
        <a href="{% url 'pokedexapp:index' %}">
            <button class="button is-danger" type="button">Home</button>
        </a>
    </div>
    <div class="navbar-item">
        <form action="{% url 'pokedexapp:search' %}" method="GET">
            <div class="field has-addons">
                <div class="control">
                    <input class="input is-danger" name="q" placeholder="Search by name or id" type="text">
                </div>
                <div class="control">
                    <button class="button is-danger" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div class="navbar-end">
        {% if user.is_authenticated %}
        <!-- ... (authenticated user dropdown) ... -->
        {% else %}
        <div class="navbar-item">
            <div class="dropdown">
                <div class="dropdown-trigger">
                    <button aria-controls="dropdown-login" aria-haspopup="true" class="button is-grey dropdown-button"
                            onclick="this.parentNode.parentNode.classList.toggle('is-active')">
                        <span>Login</span>
                        <span class="icon is-small">
                            <i aria-hidden="true" class="fas fa-angle-down"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-login" role="menu">
                    <div class="dropdown-content">
                        <div class="dropdown-item">
                            <form action="{% url 'users:login' %}" method="post">
                                {% csrf_token %}
                                <div class="field">
                                    <label class="label">Username or Email</label>
                                    <div class="control">
                                        {{ log_form.username_or_email }}
                                    </div>
                                    {% if log_form.errors.username_or_email %}
                                    <p class="help is-danger">
                                        {% for error in log_form.errors.username_or_email %}
                                        {{ error }}
                                        {% endfor %}
                                    </p>
                                    {% endif %}
                                </div>
                                <div class="field">
                                    <label class="label">Password</label>
                                    <div class="control">
                                        {{ log_form.password }}
                                    </div>
                                    {% if log_form.errors.password %}
                                    <p class="help is-danger">
                                        {% for error in log_form.errors.password %}
                                        {{ error }}
                                        {% endfor %}
                                    </p>
                                    {% endif %}
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <button class="button is-danger" type="submit">Login</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar-item">
            <div class="register-menu" id="register" role="menu">
                <a href="{% url 'users:register' %}">
                    <button class="button" type="button">Register</button>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</nav>

{% block content %}{% endblock content %}

</body>
</html>
